:root{
    --color-primary: #5865F2;
    --color-success: #43B581;
    --color-normal: #4F545C;
    --color-danger: #EC615B;
  
    --color-black-000: #000;
    --color-black-100:#99AAB5;
    --color-black-200: #747F8D;
    --color-black-300: #4F545C;
    --color-black-400: #40444B;
    --color-black-500: #40444B;
    --color-black-600: #36393F;
    --color-black-700: #2F3136;
    --color-black-800: #2C2F33;
    --color-black-900: #292B2F;
    --color-black-A100: #23272A;
    --color-black-A200: #202225;
  }