/api/node_modules
/api/public/hot
/api/public/storage
/api/storage/*.key
/api/database/migrations/*.php
/api/vendor
/api/.env
/api/.env.backup
/api/.phpunit.result.cache
/api/docker-compose.override.yml
/api/Homestead.json
/api/Homestead.yaml
/api/npm-debug.log
/api/yarn-error.log
/api/.idea
/api/.vscode
