/*TODO: RESPONSIVE
.header{
    width: 100%;
    top: 0;
    position: sticky;
    background-image: radial-gradient(ellipse at 50% 0,rgba(255, 174, 66, .1) 0,rgba(20,13,0,.6) 90%);
    border-bottom: 1px solid #333;
    z-index: 11;
    display: flex;
    padding: 5px 0;
    height: 45px ;
}
.logo{
    max-width: 40px;
}
.logoContainer{
    align-items: center;
    display: flex;
}

*/
