:root{
    --white: #fff;
    --gray: #99AAB5; /* DEFAULT COLOR */
    --brand-color: #FFAE42;

    --color-normal: rgba(79, 84, 92, 1);
    --color-normal-t75: rgba(79, 84, 92, .75);
    --color-normal-t50: rgba(79, 84, 92, .50);

    --color-primary: rgba(88, 101, 242, 1);
    --color-primary-t75: rgba(88, 101, 242, .75);
    --color-primary-t50: rgba(88, 101, 242, .50);

    --color-success: rgba(67, 181, 129, 1);
    --color-success-t75: rgba(67, 181, 129, .75);
    --color-success-t50: rgba(67, 181, 129, .50);

    --color-warning: rgba(201, 140, 35, 1);
    --color-warning-t75: rgba(201, 140, 35, .75);
    --color-warning-t50: rgba(201, 140, 35, .50);

    --color-danger: rgba(236, 97, 91, 1);
    --color-danger-t75: rgba(236, 97, 91, .75);
    --color-danger-t50: rgba(236, 97, 91, .50);

    --color-gray-100: #404040;
    --color-gray-200: #242424;
    --color-gray-300: #131313;
    --color-gray-400: #141414;

    --color-gray-500: #111111;
    --color-gray-600: #000000;
}

/*@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap');

    font-family: 'DM Sans', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Roboto', sans-serif;
*/