@import url('../../variables.css');
:root{
  --bg: #242526;
  --bg-accent: #484a4d;
  --text-color: #dadce1;
  --nav-size: 50px;
  --border: 1px solid #474a4d;
  --border-radius: 8px;
  --speed: 500ms;
}

.navbar {
  height: var(--nav-size);
  background-color: var(--bg);
  padding: 0 1rem;
  border-radius: var(--border);
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--color-gray-100);
  position: sticky;
  top: 0;
  z-index: 1;
}

.navbar-nav { /* TODO: FIX SIZE*/
  width: calc(100%);
  z-index: 1;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

ul{
  padding-inline-start: 0;
}
